# Logs
logs/
*.log
npm-debug.log*
.rpt2_cache/

# Editor-specific
.idea/
*.iml
*.sublime-project
*.sublime-workspace
.settings
.vscode

# Installed libs
node_modules/
typings/

# Generated
/dist/
/dist-compat/
tmp/
coverage/
img/
spec-js/
spec-build/
.out/
.tmp/


# Import location artifacts
/utils/
/preact/
/middleware/

# Misc
npm-debug.log
.DS_STORE
*.tgz
.eslintcache


# The check-side-effects package generates and deletes this file.
# If the process is killed, it will be left behind.
check-side-effects.tmp-input.js

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
